### IntelliJ IDEA ###
.idea/
*.iml
out/

### Java ###
*.class

### VS Code ###
.vscode/

### macOS ###
.DS_Store

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.bin/